.slider_bg_1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Habitaciones/Hab 6.JPEG");
}
.slider_bg_2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Terraza/Terraza.JPEG");
}
.slider_bg_3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Habitaciones/Hab 5 2.JPEG");
}
.slider_bg_4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Instragram/bebida.jpg");
}
.slider_bg_5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Instragram/campanario.jpg");
}
.slider_area{
    .single_slider{
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;

        .slider_text{
            h3{
             color: #ffffff;
             font-family: "Century Schoolbook";
             font-size: 100px;
             text-transform: capitalize;
             letter-spacing: 2px;
             font-weight: 400;
             margin-bottom: 4px;
             @media #{$mobile_device} {
               font-size: 33px;
               letter-spacing: 3px;
            }
             @media #{$tablet_device} {
               font-size: 30px;
            }
             @media #{$mid_device} {
               font-size: 35px;
               letter-spacing: 3px;
            }
            }
            p{
                font-size: 24px;
                font-weight: 400;
                color: #ffffff;
                margin-bottom: 0;
                margin-top: 0;
             @media #{$mid_device} {
                font-size: 16px;
             }
             @media #{$mobile_device} {
                font-size: 16px;
             }
            }
        }
    } 
}