@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');

//Color Palette

/* SCSS HEX */
$black: #000000ff;
$cerise: #fd0063ff;
$snow: #fdf7faff;
$off-red-rgb: #f90000ff;
$chamoisee: #8f715aff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$cerise: hsla(337, 100%, 50%, 1);
$snow: hsla(330, 60%, 98%, 1);
$off-red-rgb: hsla(0, 100%, 49%, 1);
$chamoisee: hsla(26, 23%, 46%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$cerise: rgba(253, 0, 99, 1);
$snow: rgba(253, 247, 250, 1);
$off-red-rgb: rgba(249, 0, 0, 1);
$chamoisee: rgba(143, 113, 90, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);
$gradient-right: linear-gradient(90deg, #000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);
$gradient-left: linear-gradient(270deg, #000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);
$gradient-radial: radial-gradient(#000000ff, #fd0063ff, #fdf7faff, #f90000ff, #8f715aff);

// fonts
$font1:  'Raleway', sans-serif;
$font2:  'Raleway', sans-serif;
// fonts-size

$heading-color:#020c26;
$gray-color: #bebebe;
$gray-color-2: #bdbdbd;

$theme-color: #020c26;
$theme-color2: #ff5e13;

$gray-color3:#5c5c5c;
$white_color:#fff;



$font_1: #666666;
$font_2: #646464;
$font_3: #7f7f7f;
$font_4: #8a8a8a;
$font_5: #999999;
$font_6: #666666;
$font_7: #5c5c5c;
$border_color: #fdcb9e;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;

$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';

// ,,,,,,,,,,,
$btn_bg: #009DFF;
$btn_hover: #f5790b;
$section_bg: #f7f7f7;
$section_bg_1: #454545;
$heading_color: #191d34;
$heading_color2: #ff8b23;